.st{
  height: 300px;
 
}

.envato{
    background-color:#262626;
    color: white;
    height: 60px;
    top: 0px;
    position:fixed;
    text-decoration: none;
    width: 1350px;
    font-size: 30px;
    z-index: 1;
    display: flex;
}
.green{
    position:fixed;
    width: 50px;
    height: max-content;
    top: 1%;
    border-radius: 10px;
    

}

.env{
    font-weight: 60;
    position:fixed;
    z-index: 1;
    right:82%;
    display: flex;
    
    
    
    
}



.button{
    background-color:#7AA93C;
    position:fixed;
    z-index: 1;
    right: 0px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    top: 10px;
    display: flex;
}



.blue{
    background-color: #1C799B;
    height: 30px;
    position: absolute;
    top: 60px;
    font-size: 15px;
    color: white;
    font-weight: 200px;
    width: 100%;
     display: flex;


}


.buy{
    margin-left:100px;
    color:white;

}

.yellow{
    color: rgb(209, 209, 80);
}

.track{
    width: 30px;
    height: 30px;
}


 .order:hover{

    text-decoration: underline;
    cursor: pointer;
}

.about{
   margin-left: 100px;
}

.about:hover{
    text-decoration: underline;
    cursor: pointer;
}

.us{
    margin-left:20px;
}

.us:hover{
    text-decoration: underline;
    cursor: pointer;

}

.eng{
    margin-left:30px;
    background-color: #1C799B;
    color: white;
    border-style: none;
}

.eng:hover{
   
    text-decoration: underline;
    cursor: pointer;
   

}

.usd{
    margin-left:80%px;
    background-color: #1C799B;
    color: white;
    border-style: none;
}

.usd:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nav{
    width: 100%;
    margin-top: 50px;
    font-size: 15px;
    color:black;
    font-weight: 200px;
    
    
}


.market{
    width: 150px;
    height: 30px;
    margin-top: 70px;
    
}

.categories{
    width: 150px;
    margin-top: 100px;
    margin-left: 60px;
    border: none;

}
.bar{
    width: 550px;
    height: 50px;
    font-size: 15px;
    font-style: italic;
}

.profile{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    
}
.pro:hover{cursor: pointer;
    color: #1C799B;

}
.wish:hover{
    cursor: pointer;
    color: #1C799B;
}
.ca:hover{
    
    cursor: pointer;
    color: #1C799B;
    
}

.heart{
    width: 20px;
    height: 20px;
    margin-left: 40px;
}

.cart{ width: 30px;
    height: 30px;
    margin-left:20px;

}



.four{
    position:absolute;
    top: 10px;
    margin-top: 230px;
    
    
}
.topic{
    font-size: 25px;
    background-color: #2ABC79;
    border-radius: 10px;
    border: none;
    width: max-content;
    height: 60px;
    margin-left: 20px;
}
.home{
    font-size: 18px;
    color: black;
    border: none;
    width: 80px;
    

}
.shops{
    font-size: 18px;
    color: black;
    border: none;
    width: 80px;
    
}
.Page{
    font-size: 18px;
    color: black;
    border: none;
    width: 80px;
    
}

.Vendors{
    font-size: 18px;
    color: black;
    border: none;
    width: 100px;
  
}

.Blog{font-size: 18px;
    color: black;
    border: none;
    width: 80px;
  

}
.contact{
    font-size: 18px;
    color: black;
    border: none;
 
}

.home:hover{
    
    cursor: pointer;
    color: #1C799B;
    
}

.shops:hover{
    
    cursor: pointer;
    color: #1C799B;
    
}
.Page:hover{
    
    cursor: pointer;
    color: #1C799B;
    
}
.Vendors:hover{
    cursor: pointer;
    color: #1C799B;
    

}
.Blog:hover{
    
    cursor: pointer;
    color: #1C799B;
    
}
.contact:hover{
     cursor: pointer;
    color: #1C799B;}

.help{
    font-size: 20px;
    margin-left: 400px;
   }  
   .num{
    position: absolute;
    right: 15px;
    top: 50px;
    font-size: 20px;
    color:  #1C799B;
   }  

   .num:hover{
    cursor: pointer;
    color: #1C799B;
    text-decoration: underline;

   }

  /* @media (min-width:768px) {

    .st{
        display: none;
    } } */
    /* .envato{
   
    flex-direction: column;
    gap: 20px;
    z-index: 1;}

    .env{ 
        
    height: max-content;
    flex-direction: column;
    font-weight: 60;
    position:fixed;
    z-index: 1;
    right:88%;
    
}
   

.button{
    background-color:#7AA93C;
    position:fixed;
    z-index: 1;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    top: 10px;
    right: 33%;
}

.blue{
    background-color: #1C799B;
    height: 30px;
    position: fixed;
    top: 60px;
    font-size: 10px;
    color: white;
    font-weight: 200px;
    width: 100%;}

    .nav{
    width: 150%;
    margin-top: 50px;
    font-size: 10px;
    color:black;
    font-weight: 100px;
  */
    
    










