.sec {
    height: 700px;
}



.save {
    color: #31BF7E;
    font-size: 20px;
    font-weight: 100px;
    position: absolute;
    top: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



.daily {
    background-color: #E9FFFF;
    height: 650px;

}


.he {
    position: absolute;
    top: 85%;
    color: #121535;
    font-weight: 1300px;
    font-size: 50px;
     font-family: 'Times New Roman', Times, serif;

}

.delivery{
     position: absolute;
    top: 95%;
    color: #121535;
    font-weight: 1300px;
    font-size: 50px;
    margin-left: 180px;
    font-family: 'Times New Roman', Times, serif;

}

.exp {
    font-weight: 1300px;
    font-size: 50px;
    color: #1C799B;
    position: absolute;
    top: 95%;
     font-family: 'Times New Roman', Times, serif;
}

.explore {
    background-color: #1C799B;
    border-radius: 20px;
    border: none;
    height: 30px;
    color: white;
    position: absolute;
    top: 110%;
     font-family: 'Times New Roman', Times, serif;

}

.ex {
    color: white;
    text-decoration: none;
}

.italic{
    position: absolute;
    top: 110%;
    margin-left: 150px;
}


.dollar {
    color: #DC2828;
    font-size: 18px;
    margin-left: 230px;
    position: absolute;
    top: 110%;

}

.slide {
    width: 550px;
    height: 450px;
   margin-left: 55%;
   
}

.spin {
    color: #1C799B;
    position: relative;
    left: 50%;
    top: -60px;

}